@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: linear-gradient(
    90deg,
    rgba(9, 9, 121, 1) 0%,
    #ff6900 35%,
    #3e8e41 100%); */
    /* background: #ff00ccad; */
    /* background: -webkit-linear-gradient(to right, #F4B20F, #C9D937);
    background: linear-gradient(to right, #F4B20F, #C9D937); */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
style{
  font-size:30px;
direction:left;
color:black;
}
